<h1>All Blogs</h1>
<%= link_to 'New Blogs', new_blog_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
 
  <% @blogs.each do |blogs| %>
    <tr>
      <td><%= blogs.title %></td>
      <td><%= blogs.description %></td>
      <td><%= link_to 'Show', blog_path(blogs) %></td>
      <td><%= link_to 'Edit', edit_blog_path(blogs) %></td>
      <td><%= link_to 'Destroy', blog_path(blogs),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>